fastapi
uvicorn
sqlalchemy
pydantic
PyJWT
passlib
python-multipart
python-dotenv
gunicorn
groq
langchain
langchain-community
faiss-cpu
sentence-transformers
langchain-huggingface
pandas
